body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
    padding: 20px;
    align-items: center; 
    flex: 1;  
}

.logo {
    font-size: 18px;
    font-weight: 900;
    color: #F9FAF8;
}

ul {
    font-size: 18px;
    list-style-type: none;
    display: flex;
    gap: 10px;
    }

a {
    text-decoration: none;
    color: #E5E7EB;
   
 }

 .content {
    display: flex;
    flex-wrap: wrap;
    background-color: #1f2937;
    justify-content: space-evenly;
    flex: 1;
    
 }

 .main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 300px;
    display: flex;
    flex-flow: column wrap; 
 }

 .secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    width: 400px;
    font-weight: 100;
    
 }

 .sign-up-button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 8px 16px;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 20px;
 }

 .image1 {
    width: 290px;
    height: 190px;
 }

 .container {
    display: flex;
    text-align: center;
    gap: 45px;
    justify-content: center;
    margin-bottom: 20px;
    flex: 1;
 }

 .information {
    text-align: center;
    font-size: 36px;
    font-weight: 900; 
    padding: 20px;
    color: #1f2937;
    flex-wrap: wrap;
   
 }
.text {
    width: 175px;
    flex-wrap: wrap;
}

.image {
   height: 150px;
   width: 175px;
}

.quote-container {
    display: flex;
    flex-flow: column wrap;
   background-color: #E5E7EB;
   padding: 25px;
   flex: 1;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    width: 800px;
    align-self: center;
}

.author {
    align-self: flex-end;
    font-weight: 900;
    width: 450px;
}
.action-container {
    display: flex;
    padding: 20px;
    margin: 50px 400px;
    background-color:#3882F6;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
    gap: 100px;
    flex: 1;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 900;

}

.action-subtext {
    font-size: 14px;
    font-weight: 100;
}


.sign-up-button2 {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 4px 16px;
    border: 5px;
    border: 1px solid #F9FAF8;
    border-radius: 5px; 
}

.footer {
    height: 72px;
    background-color: #1f2937;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
  }
